<p id="notice"><%= notice %></p>

<h1>Task Board</h1>

<%= link_to 'New List', new_list_path %>
<hr/>
<div class="mt-3">
  <%= tag.div id: :boards, data: { lists: @lists.to_json(include: :cards) } %>
</div>
<hr/>
<table>
<thead>
    <tr>
    <th>Name</th>
    <th>Position</th>
    <th colspan="3"></th>
    </tr>
    </thead>
<tbody>
    <% @lists.each do |list| %>
    <tr>
    <td> <%= list.name %> </td>
        <td> <%= list.position %></td>
        <td> <%= link_to 'Show', list %> </td>
        <td> <%= link_to 'Edit', edit_list_path(list) %></td>
        <td> <%= link_to 'Destroy', list, method: :delete, data: {confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    </tbody></table>