<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>AgiliT</h1>
  <p>A web app for agile project teams!</p>

  <%= form_tag contributors_path, class: "form-inline" do %>
    <%= text_field_tag "Team", "", class: "form-control", placeholder:"Your team/story" %>
    <%= text_field_tag "Name", "", class: "form-control", placeholder: "Your name" %>
    <%= submit_tag "Enter", class: "btn btn-default" %>
  <% end %>
</div>