<p id="notice"><%= notice %></p>

<h1>Ideas from Retrospective Board</h1>
<table class="table table-striped">

  <thead>
    <tr>
      
         <th scope="col">Idea</th>
         <th scope="col">Sentiment Analysis</th>
         <th scope="col">Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <hr/>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        
        <td><%= idea.name %></td>
        <td><%= idea.sentiment %></td>
        <td><%= idea.score %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Idea', new_idea_path %>
