<p id="notice"><%= notice %></p>

<p>
  <strong>Retro:</strong>
  <%= @idea.retro %>
</p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @idea.position %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
