<template>
<div class="retro">
<h6>{{ retro.name }}</h6>

<draggable v-model="retro.ideas" :options="{group: 'ideas'}" class="dragArea" @change="ideaMoved">
<idea v-for="idea in retro.ideas" :key="idea.id" :idea="idea" :retro="retro"></idea>
</draggable>

<a v-if="!editing" v-on:click="startEditing">Add an idea</a>
<textarea v-if="editing" ref="message" v-model="message" class="form-control mb-1"></textarea>
<button v-if="editing" v-on:click="createIdea" class="btn btn-primary">Add</button>
<a v-if="editing" v-on:click="editing=false">Cancel</a>

</div>
</template>

<script>
import draggable from 'vuedraggable'
import idea from 'components/idea'
export default {
components: { idea, draggable },
props: ["retro"],

data: function() { 
return {
    editing: false,
message: ""
}
},
methods: {
    startEditing: function() {
        this.editing = true
        this.$nextTick(() => { this.$refs.message.focus() })
    },
    
 ideaMoved: function(event) {
        const evt = event.added || event.moved
        if (evt == undefined) { return }
        const element = evt.element
        const retro_index = window.stores.state.retros.findIndex((retro) => {
        return retro.ideas.find((idea) => {
        return idea.id === element.id
                               })
                                                })
    
        var rdata = new FormData
        rdata.append("idea[retro_id]", window.stores.state.retros[retro_index].id)
        rdata.append("idea[position]", evt.newIndex + 1)
        Rails.ajax({
        beforeSend: () => true,
                   url: `/ideas/${element.id}/move`,
                   type: "PATCH",
                   data: rdata,
                   dataType: "json"
        })
    },
createIdea: function() {

var rdata = new FormData
rdata.append("idea[retro_id]", this.retro.id)
rdata.append("idea[name]", this.message)

Rails.ajax({
beforeSend: () => true,
url: "/ideas",
type: "POST",
data: rdata,
dataType: "json",
success: (rdata) => {

this.message = ""
this.$nextTick(() => { this.$refs.message.focus() })
}
})
}
}
}
</script>

<style scoped>
.dragArea{
        min-height: 10px;

}



</style>
