<footer class="footer text-muted bg-primary">
  <div class="container">
      <hr/>
    <span>© <%= Date.today.year %> AgiliT</span>
    <ul class="list-inline mb-0 float-right">
      
    </ul>
  </div>
</footer>