<nav class="navbar navbar-expand-md navbar-dark bg-primary">
   
<div class="container-fluid">
<div class="navbar-header">
    <a class="navbar-brand" href="/"><b><h1>AgiliT</h1></b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="menu">
    <div id="navbar">

     <ul class="navbar-nav">
      <li class="nav-item">
      <a href="/lists">Taskboard </a></li>
       
        <li class="nav-item"><a href="/retros">Retrospective </a></li> 
     
     <li class="nav-item"><a href="/ideas">Sentiment Analysis </a></li>  <li class="nav-item">
          <a href="/">Story Pointing </a></li>   
          <li class="nav-item"><a href="/estimations">Estimates </a></li>
        
      <li class="nav-item"><a href="/about">About </a></li>
        <li class="nav-item"><a href="/contact">Contact Us </a></li>  
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    </div>
</nav>