<template>
<div class="board">
<draggable v-model="lists" :options="{group: 'lists'}" class="dragArea d-inline-block" @end="listMoved">
<list v-for="(list, index) in lists" :list="list"></list>
</draggable>
<div class="list">
<a v-if="!editing" v-on:click="startEditing">Add a List</a>
<textarea v-if="editing" ref="message" v-model="message" class="form-control mb-1"></textarea>
<button v-if="editing" v-on:click="createList" class="btn btn-primary">Add</button>
<a v-if="editing" v-on:click="editing=false">Cancel</a>
</div>
</div>

</template>

<script>
import draggable from 'vuedraggable'
import list from 'components/list'

export default {
components: { draggable, list },

data: function() {
return{
editing: false,
message: "",
}
},
computed: {
lists: {
get() {
return this.$store.state.lists
},
set(value) {
this.$store.state.lists = value
},
},
},
methods: {
startEditing: function() {
this.editing = true
this.$nextTick(() => {this.$refs.message.focus()})
},

listMoved: function(event) {
var data = new FormData
data.append("list[position]", event.newIndex + 1)

Rails.ajax({
beforeSend: () => true,
url: `/lists/${this.lists[event.newIndex].id}/move`,
type: "PATCH",
data: data,
dataType: "json",
})
},
createList: function(){

var data = new FormData
data.append("list[name]", this.message)

Rails.ajax({
beforeSend: () => true,
url: "/lists",
type: "POST",
data: data,
dataType: "json",
success: (data) => {

this.message = ""
this.editing = false
}
})
}
}
}
</script>

<style scoped>
.dragArea{
min-height: 10px;

}
.board{
overflow-x:auto;
white-space: nowrap;
}
.list{
background: #E2E4E6;
border-radius: 5px;
display: inline-block;
margin-right: 20px;
padding: 10px;
vertical-align: top;
width: 270px;
}
</style>
