<template>
<div class="ideaboard">
<draggable v-model="retros" :options="{group: 'retros'}" class="dragArea d-inline-block" @end="retroMoved">
<retro v-for="(retro, index) in retros" :retro="retro"></retro>
</draggable>
<div class="retro">
<a v-if="!editing" v-on:click="startEditing">Add to Retro Board</a>
<textarea v-if="editing" ref="message" v-model="message" class="form-control mb-1"></textarea>
<button v-if="editing" v-on:click="createRetro" class="btn btn-primary">Add</button>
<a v-if="editing" v-on:click="editing=false">Cancel</a>
</div>
</div>

</template>

<script>
import draggable from 'vuedraggable'
import retro from 'components/retro'

export default {
components: { draggable, retro },

data: function() {
return{
editing: false,
message: "",
}
},
computed: {
retros: {
get() {
return this.$store.state.retros
},
set(value) {
this.$store.state.retros = value
},
},
},
methods: {
startEditing: function() {
this.editing = true
this.$nextTick(() => {this.$refs.message.focus()})
},

retroMoved: function(event) {
var rdata = new FormData
rdata.append("retro[position]", event.newIndex + 1)

Rails.ajax({
beforeSend: () => true,
url: `/retros/${this.retros[event.newIndex].id}/move`,
type: "PATCH",
data: rdata,
dataType: "json",
})
},
createRetro: function(){

var rdata = new FormData
rdata.append("retro[name]", this.message)

Rails.ajax({
beforeSend: () => true,
url: "/retros",
type: "POST",
data: rdata,
dataType: "json",
success: (rdata) => {

this.message = ""
this.editing = false
}
})
}
}
}
</script>

<style scoped>
.dragArea{
min-height: 10px;

}
.ideaboard{
overflow-x:auto;
white-space: nowrap;
}
.retro{
background: #E2E4E6;
border-radius: 5px;
display: inline-block;
margin-right: 20px;
padding: 10px;
vertical-align: top;
width: 270px;
}
</style>
