
<br />
<h1>Estimations</h1>
<hr/>
    
  <p>
 Thanks for recording your estimate!
    </p>
 
    <p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Estimate</th>    
     <th scope="col">Contributor</th>
        <th scope="col">Team or Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      
    <% @estimations.each do |estimation| %>
      <tr scope="row">
          <td><%= estimation.story_points %></td>
        <td><%= estimation.contributor.name %></td>
        <td><%=estimation.contributor.team.name %></td>
        
      
       
      </tr>
    <% end %>
       
   
  </tbody>
</table>

<br>

