<%= form_with(model: retro, local: true) do |form| %>
  <% if retro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retro.errors.count, "error") %> prohibited this retro from being saved:</h2>

      <ul>
      <% retro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
