<p id="notice"><%= notice %></p>

<h1>Retrospective Board</h1>

<%= link_to 'New Retro', new_retro_path %>
<hr/>
<div class="mt-3">
  <%= tag.div id: :ideaboards, data: { retros: @retros.to_json(include: :ideas) } %>
</div>

    <hr/>
<table>
  <thead>
    <tr>
  
      <th>Name</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retros.each do |retro| %>
      <tr>
     
        <td><%= retro.name %></td>
        <td><%= retro.position %></td>
        <td><%= link_to 'Show', retro %></td>
        <td><%= link_to 'Edit', edit_retro_path(retro) %></td>
        <td><%= link_to 'Destroy', retro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
