<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @retro.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @retro.position %>
</p>

<%= link_to 'Edit', edit_retro_path(@retro) %> |
<%= link_to 'Back', retros_path %>
