<h1>About</h1>
<p>Find me in app/views/site/about.html.erb</p>
<hr/>
<p>
<h2>AgiliT web app is for agile project teams.</h2>
</p>
<br/>
<p>To help project teams plan, estimate and review their project progress.</p>
<hr/>
<p>Task board can be used to track stories progress through a sprint. Cards and Lists can be added.</p>
<p>Retrospective board can be used to review sprints and record ideas. Additional columns for retro can be added too.</p>
<p>Sentiment Analysis lists the ideas recorded on the retrospective board and reviews whether the idea is positive, negative and gives a relevant score based on the language used.</p>
<p>Storypointing allows contributors to vote on story points for their team which are then recorded as estimates</p>


<hr/>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group btn-group-lg" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary"> 1 </button>
    <button type="button" class="btn btn-primary"> 2 </button>
    <button type="button" class="btn btn-primary"> 3 </button>
    <button type="button" class="btn btn-primary"> 5 </button>
    <button type="button" class="btn btn-primary"> 8 </button>
    <button type="button" class="btn btn-primary"> 13 </button>
    <button type="button" class="btn btn-primary"> 21 </button>
    <button type="button" class="btn btn-primary"> 34 </button>
    <button type="button" class="btn btn-primary"> ? </button>  
  </div>
