/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";




// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;

  }

}
/* ------------------------- */
 #navbar ul          
 {
     margin: 0;         
     padding: 5px;         
     list-style-type: none;         
     text-align: left;  
     font-size: 17px;      
     background-color: #333;         
 }  
 
 #navbar ul li           
 {
     display: inline;
       
 }  
 
 #navbar ul li a          
 {
     text-decoration: none;         
     padding: .2em 1em;         
     color: #fff;         
     background-color: #333;         
     }  
     
#navbar ul li a:hover          
{
    color: white;
    background-color: blue;         
   	border:0px blue solid;
 	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */
       
}

#team-vote-countdown {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#team-vote-clock {
    margin-bottom: 0;
}

td.yes {
  background-color: green;
}
td.no {
  background-color: red;
}