<% provide(:title, @contributor.team_name) %>
<% provide(:description, "#{@contributor.name}\'s view on the #{@contributor.team_name} planning poker session") %>
<% provide(:keywords, "Team #{@contributor.team_name}, Contributor #{@contributor.name}") %>
<% provide(:extra_body_attributes, raw("data-team-name=\"#{@contributor.team_name}\"")) %>

<!-- Jumbotron will have to go when more behaviour is here -->
<div class="center jumbotron">
  <h1>Welcome <%= @contributor.name %></h1>
     <p>You are a voter for the <%= @contributor.team_name %> team</p>
  

<div id="team-vote-state">

      <%= render partial: 'votes/running', locals: {vote: @contributor.team.current_vote} %>

  </div>
</div>