<% # TODO use a view presenter to simplify this view %>

<p>Vote Started !</p>
<div id="team-vote-countdown" class="panel panel-default">
   <div class="panel-body">
<div class="lead">
 
     
     </div>
     <%= form_tag contributor_estimations_path(@contributor), id: "estimates-buttons", class: "form-inline" do %>

       <% Project::FIBOS.each do |estimate| %>

         <%= submit_tag estimate, class: "btn btn-primary", name: "story_points" %>

       <% end %>

     <% end %>

  </div>
</div>
