<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="background">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container-fluid" data-behavior="vue">

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
